[Unit]
Description=bot

[Service]
ExecStart=python3 /home/dev_jhesed/ETHUSD_bot/pycryptobot.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ethusd